
import(tools, XML,
       graph, RBGL,
       gridGraphviz)

export(# Module creation, reading, running
       "writeModule", "input", "output", "src",
       "readModule",
       "runModule", "makeInput",
       # Pipeline creation, reading, running
       "writePipeline", "pipe",
       "readPipeline",
       "runPipeline",
       # Module/pipeline listings
       "moduleTable")

S3method("print", "module")
S3method("print", "pipeline")
S3method("plot", "pipeline")
