
import(tools, XML,
       graph, RBGL,
       gridGraphviz)

export(# Module creation, reading, running
       "input", "output", "src", "module", "makeInput",
       "writeModule", 
       "readModule",
       "runModule", 
       # Pipeline creation, reading, running
       "start", "end", "pipe", "moduleRef", "pipelineRef", "pipeline",
       "writePipeline",
       "readPipeline",
       "runPipeline",
       # Module/pipeline reflection
       "inputs", "outputs",
       # Module/pipeline listings
       "moduleTable", "pipelineTable")

S3method("inputs", "module")
S3method("inputs", "pipeline")
S3method("outputs", "module")
S3method("outputs", "pipeline")

S3method("print", "module")
S3method("print", "pipeline")
S3method("plot", "pipeline")
